<link href='{{ site.baseurl }}/favicon.ico' rel='shortcut icon' sizes='36x36 24x24 16x16' type='image/x-icon'/>
<link href='{{ site.baseurl }}/favicon.png' rel='icon' sizes='196x196' type='image/png'/>
<meta content='{{ site.baseurl }}/mstile-icon-128x128.png' name='msapplication-TileImage'/>
<meta content='transparent' name='msapplication-TileColor'/>
<link href='{{ site.baseurl }}/manifest.webmanifest' rel='manifest'/>
<meta content='{{ site.baseurl }}/browserconfig.xml' name='msapplication-config'/>