<div id="footer">
  <ul id="locallogos">

    <li><a href="http://www.english-heritage.org.uk/" title="English Heritage's website"><img src="{{ site.baseurl }}/images/5.png" width="200" height="55" alt="English heritage's logo"></a></li>
    <li><a href="http://www.birmingham.gov.uk/" title="Birmingham County Council's website"><img src="{{ site.baseurl }}/images/8.png" width="250" height="38" alt="Birmingham City council logo"></a></li>
    <li><a href="http://www.staffordshire.gov.uk/" title="Staffordshire County Council's website"><img src="{{ site.baseurl }}/images/7.png" width="200" height="54" alt="Staffordshire county council logo"></a></li>
    <li><a href="http://www.stoke.gov.uk/" title="Stoke City Council website"><img src="{{ site.baseurl }}/images/6.png" width="50" height="43" alt="Stoke City Council logo"></a></li>
  </ul>
  <ul id="nationallogos">
    <li><img src="{{ site.baseurl }}/images/20.png" width="100" height="56" alt="MLA logo"></li>
    <li><a href="http://www.bmag.org.uk/" title="Birmingham Museum and Art Gallery website"><img src="{{ site.baseurl }}/images/16.png" width="99" height="50" alt="Birmingham Museum and Art Gallery logo"></a></li>
    <li><a href="http://www.finds.org.uk/" title="The Portable Antiquities Scheme's website"><img src="{{ site.baseurl }}/images/4t.png" alt="Portble Antiquities Scheme logo"></a></li>
    <li><a href="http://www.britishmuseum.org/" title="The British Museum's website"><img src="{{ site.baseurl }}/images/3.png" width="100" height="63" alt="The British Museum logo"></a></li>
    <li><a href="http://www.bham.ac.uk/" title="The University of Birmingham website"><img src="{{ site.baseurl }}/images/17.png" width="141" height="34" alt="University of Birmingham logo"></a></li>
    <li><a href="http://www.stokemuseums.org.uk/" title="The Potteries Museum and Art Gallery"><img src="{{ site.baseurl }}/images/18.png" width="84" height="50" alt="Potteries Museum and art gallery"></a></li>
  </ul>
</div>
