<div id="leftcolumn">
  <div class="innertube">
    <img src="{{ site.baseurl }}/images/12.png" width="120" height="65" alt="Stylised Anglo-Saxon knot">
    <ul id="mainmenu" class="section_list">
      <li><a href="/" title="Go to Home">Home</a></li>
      <li><a href="/about/" title="Go to Press statement">Press statement</a></li>
      <li><a href="/artefacts/" title="Go to The artefacts">The artefacts</a></li>
      <li><a href="/commentary/" title="Go to What's been said">What's been said</a></li>
      <li><a href="/interview/" title="Go to Interpretation">Interpretation</a></li>
      <li><a href="/media/" title="Go to Media centre">Media centre</a></li>
      <li><a class="active_class" href="/news/" title="Go to News">News</a></li>
      <li><a href="/partners/" title="Go to The partners">The partners</a></li>
      <li><a href="/qanda/" title="Go to Questions &amp; Answers">Questions &amp; Answers</a></li>
      <li><a href="/team/" title="Go to The people">The people</a></li>
      <li><a href="/village/" title="Go to Village reconstruction">Village reconstruction</a></li>
      <li><a href="/technical/" title="Go to Website info">Website info</a></li>
      <li><a href="/access/" title="Go to Accessibility">Accessibility</a></li>
    </ul>
    <img src="{{ site.baseurl }}/images/12.png" width="120" height="65" alt="Stylised Anglo-Saxon knot">
  </div>
  {% include /structure/cc-license.html %}

</div>
