<!DOCTYPE html>
<html lang="en">
<head>

    {% include /structure/base-meta.html %}

    {% seo %}

    {% feed_meta %}

    {% include /structure/favicon.html %}

    {% include /structure/css.html %}

    {% include /structure/feeds.html %}

</head>
<body>
  {% include /structure/accessibility.html %}
  <div id="maincontainer">
      {% include /structure/main-logo.html %}
       <div id="contentwrapper">
           <div id="contentcolumn">
               <div class="innertube">
                 {% if page.url != '/'%}
                 <h1>{{page.title}}</h1>
                 {% endif %}
                 {% include structure/news-list.html %}
                 {{ content }}
               </div>
           </div>
       </div>
       {% include /structure/nav.html %}
       {% include structure/footer.html %}
   </div>
  {% include structure/javascript.html %}
</body>
</html>
